.login-wrapper {
    background-image: url(../../../public/assets/images/wrapper-bg.jpg);
    background-size: cover;
    position: relative;
    padding: 5rem 0rem;
    /*height: 100vh;*/
    z-index: 0;
}

.login-container {
    margin: 0 auto;
    border-radius: 6px;
    color: var(--bs-dark);
    box-shadow: rgb(0 0 0 / 52%) 0px 5px 20px;
    background-size: 100%;
    max-width: 600px;
    position: relative;
    z-index: -2;
}

.login-header {
    background-image: url(../../../public/assets/images/login-bg.png);
    background-color: var(--bs-white);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px 100%;
    padding: 40px 0px 180px 0px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
   
}

.login-body {
    padding: 40px 80px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    background: var(--bs-white);
    position: relative;
    z-index: -1;
}

.login-logo {
    text-align: center;
    width: 150px;
    height: 150px;
    background: var(--bs-white);
    border-radius: 5px;
    margin: 0 auto;
}

.login-logo img {
    width: 100%;
    border-radius: 5px;
}

.login-container h5 {
    margin-top: 15px;
    font-weight: 700;
    font-size: 30px;
    color:var(--bs-indigo);
}

.login-container h6 {
    color: var(--bs-gray-dark);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

.login-form {
    padding-top: 15px;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
    color: var(--bs-gray);
}


.login-form input {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    border: 1px solid var(--bs-gray-400);
    border-radius: 3px;
    color: var(--bs-gray-dark);
}

.login-form input:focus {
    outline: none;
    border-color: var(--bs-primary);
    box-shadow: 0 0 10px 0px var(--bs-secondary);
}

.social-media {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
}

.media-link {
    border: 1px solid var(--bs-gray-400);
    padding: 10px;
    margin: 5px;
    text-align: center;
    border-radius: 50%;
    width: 64px;
}

.media-link img {
    width: 100%;
}

.media-link:hover {
    background: var(--bs-gray-200);
}

.media-link a {
    text-decoration: none;
    color: var(--bs-gray-dark);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--bs-gray-500);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--bs-gray-500);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--bs-gray-500);
  }

.login-form button {
    width: 100%;
    padding: 12px 8px;
    border: none;
    border-radius: 3px;
    background: var(--bs-indigo);
    color: var(--bs-white);
    text-transform: uppercase;
    font-size: 14px;
}
.login-form button:hover {
    background: var(--bs-purple);
}

.login-seperation {
    position: relative;
    text-align: center;
}

.login-border {
    border-bottom: 1px solid var(--bs-gray-400);
    position: relative;
    top: -30px;
    z-index: -1;
}

.login-seperation p {
    background: var(--bs-white);
    display: inline-block;
    padding: 0px 10px;
    margin: 20px 0px;
    font-size: 14px;
    font-style: italic;
    color: var(--bs-gray-500);
}

@media screen and (max-width: 767px) { 

    .login-wrapper {
        
        background: var(--bs-white);
        padding: 0rem;
    }

    .login-container {
        background-position: 0px -180px;
        border-radius: 0px;
        height: 100vh;
        max-width: 100%;
    }

    .login-header {
        border-radius: 0px;
        padding: 20px 0px 80px 0px;
    }

    .login-body {
        padding:  20px;
        
    }

    .login-logo {
        width: 90px;
        height: 90px;
        margin-top: 1rem;
        margin-bottom: 0rem;
    }

    .login-container h5 {
        font-size: 25px;
    }

    .login-container h6 {
        font-size: 14px;
    }
}

@media only screen and (max-width: 2560px) and (min-width: 1921px)
{ 
    .login-wrapper {
        height:100vh
    }
}