@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Mulish:wght@500;600;700;800&display=swap');



body {
  margin: 0;
  font-family: 'Mulish', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*font-family: 'IBM Plex Mono', monospace;
font-family: 'Mulish', sans-serif;*/

code {
  font-family: 'Mulish', sans-serif;
}


:root {
  --bs-indigo: #675aa9;
  --bs-purple: #6658dd;
  --bs-red: #f1556c;
  --bs-orange: #fd7e14;
  --bs-yellow: #f7b84b;
  --bs-green: #1abc9c;
  --bs-teal: #02a8b5;
  --bs-cyan: #4fc6e1;
  --bs-white: #fff;
  --bs-gray: #98a6ad;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f7f8f9;
  --bs-gray-200: #eceff1;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #98a6ad;
  --bs-gray-700: #6c757d;
  --bs-gray-800: #343a40;
  --bs-gray-900: #323a46;
  --bs-primary: #6658dd;
  --bs-secondary: #6c757d;
  --bs-success: #1abc9c !important;
  --bs-info: #4fc6e1;
  --bs-warning: #f7b84b;
  --bs-danger: #f1556c;
  --bs-light: #eceff1;
  --bs-dark: #323a46;
  --bs-pink: #f672a7;
  --bs-blue: #4a81d4;
}






.btn-success {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #1abc9c !important;
  --bs-btn-border-color: #1abc9c !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #157347 !important;
  --bs-btn-hover-border-color: #146c43 !important;
  --bs-btn-focus-shadow-rgb: 60,153,110 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #146c43 !important;
  --bs-btn-active-border-color: #13653f !important;
  --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #1abc9c !important;
  --bs-btn-disabled-border-color: #1abc9c !important;
}

@include color-mode(dark) {
  .element {
    color: var(--bs-gray-dark);
    background-color: var(--bs-primary);
  }
}

.btn {
  border-radius:3px !important;
  font-size: 13px !important;
}

.row {
  --bs-gutter-x: 1.2rem !important;
}

.mt-30 {
  margin-top: 30px;
}

.wn-success {
  background-color: var(--bs-teal);
  border-radius: 3px !important;
}

.pagination {
  margin-top:10px;
  margin-bottom: 0px;
}

#example_wrapper {
   font-size: 13px;
    font-weight: 400;
}


.dataTables_wrapper .dataTables_length select {
  width: auto;
  display: inline-block;
  font-size: 13px;
}

.dataTables_wrapper .dataTables_filter input {
  margin-left: 15px !important;
  display: inline-block;
  width: auto;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  background: var(--bs-white);
    border: 1px solid #e5e5e5 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover a {
  color: var(--bs-gray-700);
  cursor: default;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  background: var(--bs-white);
  border: 1px solid #e5e5e5 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button a {
  text-decoration: none;
    color: var(--bs-gray-700);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.active a {
  color: var(--bs-white) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.active {
  background: linear-gradient(45deg, #623AA2, #9853af);
   
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover a{
  color:var(--bs-white);
}

.dataTables_wrapper .dataTables_info {
  padding-top:20px !important;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
  --bs-table-accent-bg: #fafafa !important;
  width: 40px;
}

table.dataTable.no-footer {
  border-bottom: gainsboro !important;
}

.dataTables_length, .dataTables_filter {
  margin-bottom: 15px;
}

table.dataTable thead th {
  border-bottom: 2px solid rgb(0 0 0 / 15%) !important;
    border-top: 1px solid rgb(0 0 0 / 21%);
}

.icon-data-plus {
  display: none;
}

.dropdown p {
  padding: 7px 7px 0px 0px;
  cursor:pointer;
}

.action-icon {
  color: var(--bs-gray-500);
  font-size: 1.2rem;
  display: inline-block;
  padding: 0 3px;
  cursor: pointer;
}

.dropdown-menu.show {
   font-size: 12px;
}

.weather-widget {
  background: #0000003b;
  position: relative;
  padding: 20px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid var(--bs-white);
  overflow: hidden;
  box-shadow: inset 0px 0px 23px 13px #30303069;
  color: var(--bs-white);
 
  }

.weather-01 {
    background:url(../public/assets/images/sunny-01.jpg);
    background-size: cover;
  }


.upper-header {
	overflow: auto;
}

.up-down {
	float: left;
    font-size: 14px;
    font-weight: 300;
}

.short-icon {
  width:110px;
  float: right;
  text-align: center;
}

.short-icon img {
	width: 75px;
}

.weather-info {
	margin-top: 0px;
}

.weather-info h1 {
	font-size: 50px;
	font-weight: 700;
}

.weather-info h1 span {
	font-size: 14px;
	font-weight: 400;
}

.weather-info h2 {
	font-size: 25px;
	margin-top: 20px;
}

.weather-info h3 {
	font-size: 30px;
    margin-top: 20px;
}

.weather-info h6 {
	  font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px;
}

@media screen and (max-width: 690px) {
.b-title-left {
  display: none;
}

.mt-10 {
  margin-top: 0px;
}

}

@media screen and (max-width: 800px) {
  .icon-data-plus, .icon-data-minus {
    font-family: themify;
    content: "\e61a";
    height: 13px;
    width: 13px;
    border-radius: 50%;
    border: 1px solid var(--bs-white);
    box-shadow: 0px 0px 2px 2px #ebe9e9;
    
    display: block;
    float: left;
    margin-top: 4px;
    margin-right: 5px;
  }

  .icon-data-plus { 
    background: #1abc9c;
  }

  .icon-data-minus {
    background: red;
  }

 .icon-data-plus i, .icon-data-minus i {
    color: var(--bs-white);
    font-size: 8px;
    position: relative;
    top: -6px;
    right: -2px;
  }

}